<h2>Your Sales</h2>
<p>Remember, we charge a $1.0 comission for each book sold on our platform. </p>

<div class="accordion" id="accordionOrders">
  <% @user_orders.each do |order| %>
    <div class="accordion-item">
      <h2 class="accordion-header" id=<%= "heading#{order.id}" %>>
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=<%= "#collapse#{order.id}" %> aria-expanded="true" aria-controls=<%= "collapse#{order.id}" %>>
          Order <%= order.id %>
        </button>
      </h2>
      <div id=<%= "collapse#{order.id}" %> class="accordion-collapse collapse show" aria-labelledby=<%= "heading#{order.id}" %> data-bs-parent="#accordionOrders">
        <div class="accordion-body">
          <p>Buyer Name: <%= order.name %></p>
          <p>Buyer Email: <%= order.email %></p>
          <p>Buyer Address: <%= order.address %></p>
          <p>Line Items: </p>
          <ul>
            <% order.line_items.each do |item| %>
              <li><%= item.quantity %> x <%= item.book.title %> ($<%= item.quantity * (item.book.price - 1.0) %>)</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>  
</div> 

