<div class="col" id="<%= dom_id book %>">
  <div class="card" style="width: 18rem;">
    <div class="card-header">
    <h4> <%= book.title %> </h4>
    </div>
    <%= image_tag("book.jpg", :alt => "book", :class => "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title"> $<%= book.price %></h5>
      <p class="card-text"> Author: <%= book.author %></p>
      <%= link_to "Show this book", book, class:"btn btn-primary" %>
    </div>
  </div>
</div>

