<h2>My Cart</h2>
<ul>
  <% @cart.line_items.each do |line_item| %>
    <li>Item: <%= line_item.book.title %>/ Price: <%= number_to_currency(line_item.book.price) %>/ Quantity: <%= line_item.quantity %>/ Total Price: <%= number_to_currency(line_item.total_price) %>
    <br>
    <div class="btn-toolbar" role="group" aria-label="Basic example">
        <%= button_to " + ", line_item_add_path(:id => line_item), method: :post, class:"btn btn-success mr-5" %>
        <%= button_to " - ", line_item_reduce_path(:id => line_item), method: :post, class:"btn btn-secondary mr-5" %>
        <%= button_to "Remove item", line_item_path(line_item), method: :delete, class:"btn btn-danger mr-5" %>
    </div>

  <% end %>
</ul>
<h3>Sub total: <%= number_to_currency(@cart.sub_total) %></h3>

<% puts "||||||||||||||||||||||||||||||" %>
<% if user_signed_in? %>
    <%= link_to_if (@cart.sub_total < current_user.balance), "Proceed to checkout", new_order_path, class:"btn btn-primary" %> <br>
<% else %>
    <%= link_to "Proceed to checkout", new_user_session_path, class:"btn btn-primary" %> <br>
<% end %>